<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>Maze Graph Pathfinding</title>
		<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>
		<script src="https://unpkg.com/popper.js@1.14.7/dist/umd/popper.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/cytoscape-popper@1.0.5/cytoscape-popper.min.js"></script>
		<script src="https://unpkg.com/tippy.js@5/dist/tippy-bundle.iife.js"></script>
