<!--
	This is just a placeholder file. It is not actually used in runtime
	Derived From:
		* https://blog.js.cytoscape.org/2016/05/24/getting-started/
		* https://js.cytoscape.org/
	Retrieved: 2021-05-19
-->
		
		<script>
		
		var nodeContents =
		[
			{data: {id: 1}},
			{data: {id: 2}},
			{data: {id: 3}},
			{data: {id: 4}},
			{data: {id: 5}}
		];
	
		var edgeContents =
		[
			{data: {source: 1, target: 3}},
			{data: {source: 1, target: 2}},
			{data: {source: 2, target: 4}},
			{data: {source: 2, target: 5}},
			{data: {source: 3, target: 3}}
		];
		
		var pathContents =
		{
			sequence: [1, 2, 3],
			totalDistance: 456,
			successful: true,
			messageText: "UNDEFINED"
		};
		
		var graphStructure = {name: "cose", fit: false, animate: false}
		
		</script>
