<!--
This is just a placeholder file. It is not actually used in runtime
Derived From: https://github.com/visjs/vis-network
Retrieved: 2020-07-11
-->
		
		<script>
		
		var nodeContents =
		[
			{id: 1, label: 'Node 1'},
			{id: 2, label: 'Node 2'},
			{id: 3, label: 'Node 3'},
			{id: 4, label: 'Node 4'},
			{id: 5, label: 'Node 5'}
		];
	
		var edgeContents =
		[
			{from: 1, to: 3},
			{from: 1, to: 2},
			{from: 2, to: 4},
			{from: 2, to: 5},
			{from: 3, to: 3}
		];
		
		var pathContents =
		{
			sequence: [1, 2, 3],
			totalDistance: 456,
			successful: true,
			messageText: "UNDEFINED"
		};
		
		</script>
