		<style>
		
		body {
		font-family: helvetica;
		}
		
		#graphInfo {
		display: none;
		}
		
		#graphContainer {
		width: 100%;
		height: 500px;
		border: 2px solid black;
		display: none;
		}
		
		#numberContainer {
		width: 100%;
		text-align: center;
		}
		
		#numPathID {
		width: 80px;
		}
		
		.infoLabel {
		font-weight: bold;
		}
		
		h1 {
		text-align: center;
		}
		
		#loadContainer {
		margin: auto;
		width: 5%;
		padding: 10px;
		}
		
		/* Load spinner CSS from W3Schools */
		.loadSpinner {
		border: 16px solid #707070;
		border-top: 16px solid #3498db;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		animation: spin 2s linear infinite;
		}

		@keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
		}
		
		</style>
