<!-- This is just a placeholder file. It is not actually used in runtime -->

	</head>
	<body>
		<h1>Maze Graph Pathfinding</h1>
		<div id="graphInfo">
			<span class="infoLabel">Input Type:</span>
			<span class="infoValue">Example</span>
			<br>
			
			<span class="infoLabel">Pathfinding Mode:</span>
			<span class="infoValue">Example</span>
			<br>
			
			<span class="infoLabel">File Created:</span>
			<span class="infoValue">2020-09-18 12:13:51</span>
			<br>
			
		</div>
		
		<div id="graphContainer"></div>
		
		<div id="loadContainer">
			<div class="loadSpinner"></div>
		</div>
		
